<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ATM" connectionString="Data Source=.;Initial Catalog=ATM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ATMEntities" connectionString="metadata=res://*/Atm.csdl|res://*/Atm.ssdl|res://*/Atm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ATM;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>